.container {
  border: 1px solid gray;
  width: 100%;
}
header {
  background: rgb(14, 12, 12);
  color: white;
  text-align: center;
  height: 700px;
}
.display-3 {
  padding-top: 200px;
  font-family: sans-serif;
}
small {
  font-size: 25px;
}
nav {
  margin-left: 50px;
  padding-top: 20px;
}
.img1 {
  height: 500px;
  width: 380px;
  margin-left:auto;
  float:right;
  margin-top:60px;
  margin-right:20px;
 
}
.button1 {
  background-color: #999999;
  color: antiquewhite;
 
}
.button2 {
  background-color: red;
  color: white;
}
.button3 {
  background-color: orange;
  color: white;
}
.quote{
    background-color:rgb(14, 12, 12);
    height:180px;
    color:antiquewhite;
    text-align: center;
    padding-top:70px;
    font-size:30px;
}

.awards{
    border:1px solid #999999;
    border-radius:5px;
   margin:5px;
}
footer{
    background-color:rgb(14, 12, 12);
    height:200px;
    color:rgb(204, 195, 195);
    padding-bottom: 20px;;
   
}
footer .footer1{
  border-right: 0.5px solid #615b5b;
margin-top:50px;
margin-left: 20px;
}
.footer1 span{
  color:rgb(158, 152, 152);
}
footer .footer2{
  
margin:30px ;
margin-top:50px;

}
footer .footer3{
  border-left: 0.5px solid #615b5b;
margin-top:50px;
}

.footer3 span{
  color:rgb(62, 81, 165);
}
.paragraph{
  width:75%;
  margin-left: 20px;
}
.separator{
  display: flex;
  align-items: center;
}

.separator h2{
  padding: 0 2rem; /* creates the space */
}

.separator .line{
  flex: 1;
  height: 3px;
  background-color: #000;
}
.separator1{
  display: flex;
  align-items: center;
  width:50%;
  padding-bottom: 50px; 
 
}
.separator1 .line1{
  flex: 1;
  height: 1px;

  background-color: rgb(180, 170, 170);
}
.separator2{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:50%; 
  /* 
  padding-left:200px;
   */ 
   /* margin-left: 50px; */
   padding-bottom: 50px; 
}
.separator2 .line2{
margin-left:10px;
  flex: 1;
  height: 1px;

  background-color: rgb(180, 170, 170);
  
}
.separator2 h3{
  padding: 0 2rem;
}
.separator1 h3{
  padding: 0 2rem;
}

.poems{
  margin-top:0px;
  margin-right:20px
}
/* .footer1{
  border-right:1px sold rgb(211, 211, 211);
} */